<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule \.map$ - [F,L,NC]
</IfModule>

<IfModule mod_headers.c>
    Header always unset SourceMap
    Header always unset X-SourceMap
    Header always set X-Content-Type-Options "nosniff"
    Header always set X-Frame-Options "SAMEORIGIN"
    Header always set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>
